.rdw-editor-main {
  height: 100%;
  overflow: auto;
  position: relative;
  box-sizing: border-box;
}
.rdw-editor-toolbar {
  padding: 6px 5px 0;
  border-radius: 2px;
  border: 1px solid #F1F1F1;
  display: flex;
  justify-content: flex-start;
  background: white;
  flex-wrap: wrap;
  font-size: 15px;
  margin-bottom: 5px;
  user-select: none;
}
.rdw-editor-label {
  position: absolute;
  top: 14px;
  font-weight: 400;
  line-height: 1.4em;
  margin-bottom: 0;
  font-size: 14px;
  display: block;
  text-align: left;
  padding: 0;
  pointer-events: none;
  transition: transform .1s, font-size 0.1s, color .5s;
  color: #aaa;
}
.rdw-editor-label_focused {
  color: #459f57;
  font-size: 11px;
  transform: translate3d(0, -9px, 0);
}
.public-DraftStyleDefault-block {
  margin: 1em 0;
}
.rdw-editor-wrapper:focus {
  outline: none;
}
.rdw-editor-wrapper {
  box-sizing: content-box;
}
.rdw-editor-main blockquote {
  border-left: 5px solid #f1f1f1;
  padding-left: 5px;
}
.rdw-editor-main pre {
  background: #f1f1f1;
  border-radius: 3px;
  padding: 1px 10px;
}